<%= form_tag("/#{@post.id}/update")do %>

<% @post.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>

  <div>title<br>
    <input name="title" value="<%= @post.title %>">
  </div>
  <div>content<br>
    <textarea name="content"><%= @post.content %></textarea>
  </div>
  <div>期限<br>
    <input type="date" name="deadline" value="<%= @post.deadline %>">
  </div>


  <div>状況
      <select name="status">
        <option value="0">未着手</option>
        <option value="1">着手中</option>
        <option value="2">完了</option>
      </select>
  </div>

  <div>優先度
      <select name="priority">
        <option value="0".to_i>低</option>
        <option value="1".to_i>中</option>
        <option value="2".to_i>高</option>
      </select>
  </div>

  <input type="submit" value="保存">
<%end%>
