<%= form_tag("/#{@post.id}/update")do %>

<% @post.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>

  <div>title<br>
    <input name="title" value="<%= @post.title %>">
  </div>
  <div>content<br>
    <textarea name="content"><%= @post.content %></textarea>
  </div>
  <div>期限<br>
    <input type="date" name="deadline" value="<%= @post.deadline %>">
  </div>

  <div>状況
      <select name="status">
        <option>未着手</option>
        <option>着手中</option>
        <option>完了</option>
      </select>
  </div>

  <input type="submit" value="保存">
<%end%>
