
<h1>タスクリスト</h1>

<a href="/?sort=updated_at" class="btn btn-info">更新日でソート</a>
<a href="/?sort=deadline" class="btn btn-danger">締切でソート</a>

<table class="table" border="1">
  <tr>
    <th>user</th>
    <th>title</th>
    <th>content</th>
    <th>status</th>
    <th>priority</th>
    <th>deadline</th>
    <th>update</th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td><%=link_to(post.user.name, "/users/#{post.user.id}")%></td>
    <td><%=link_to(post.title , "/#{post.id}")%></td>
    <td><%=post.content%></td>
    <td><%=post.status%></td>
    <td><%=post.priority%></td>
    <td><%=post.deadline%></td>
    <td><%=post.updated_at%></td>
  </tr>
  <% end %>
</table>
