
<h1>タスクリスト</h1>

<p>
<%= form_tag("/", method:"get") do%>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<%end%>
</p>

<table class="table">
  <tr>
    <th>user</th>
    <th>title</th>
    <th>content</th>
    <th><a href="/?sort=status" class="btn">status</a></th>
    <th><a href="/?sort=priority" class="btn">priority</a></th>
    <th><a href="/?sort=deadline" class="btn">deadline</a></th>
    <th><a href="/?sort=updated_at" class="btn">update</a></th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td><%=link_to(post.user.name, "/users/#{post.user.id}")%></td>
    <td><%=link_to(post.title , "/#{post.id}")%></td>
    <td><%=post.content%></td>
    <td><%=post.status%></td>
    <td><%=post.priority%></td>
    <td><%=post.deadline%></td>
    <td><%=post.updated_at%></td>
  </tr>
  <% end %>
</table>
