<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
  <div>
    <%= link_to("トップ", "/") %>
    <%= link_to("新規タスク", "/new") %>
    <%= link_to("ユーザー一覧", "/users/index") %>
    <%= link_to("ユーザー登録", "/signup") %>
    <%= link_to("ログイン", "/login") %>
    <%= link_to("ログアウト", "/logout", {method: :post}) %>
  </div>ログイン中
  <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
</header>

<div>
  <%= flash[:notice] %>
</div>

  <body>
    <%= yield %>
  </body>
</html>
