<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%=link_to("トップ", "/") %>
    <%=link_to("新規タスク", "/new") %>
    <%=link_to("ユーザー一覧", "/users/index") %>
  </header>

  <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice]%>
        </div>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
